<configuration>
    <appender name="DATADOG" class="com.datadoghq.log.LogbackDatadogAppender">
        <apiKey>${env.DD_API_KEY}</apiKey>
        <source>java</source>
        <serviceName>jhs-member-service</serviceName>
        <hostname>${env.HOSTNAME}</hostname>
        <ddtags>env:prod,version:1.0</ddtags>
    </appender>

    <root level="INFO">
        <appender-ref ref="DATADOG" />
    </root>
</configuration>
